<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <form action="https://www.instagram.com/arjungiri_7">
        <button
          style="border: none"
          class="fa-brands fa-square-instagram"
        ></button>
      </form>

      <form action="https://www.facebook.com/arjungiri74">
        <button
          style="border: none"
          class="fa-brands fa-square-facebook"
        ></button>
      </form>

      <form action="https://www.linkedin.com/in/arjungiri149/">
        <button
          style="border: none"
          class="fa-brands fa-square-linkedin"
        ></button>
      </form>

      <div class="f-info-brand">
        <p>&copy;Wonderlust Private Limited</p>
      </div>

      <div class="f-info-links">
        <a class="f-text" href="/privecy">Privecy</a>
        <a class="f-text" href="/terms">Terms</a>
      </div>
    </div>
  </div>
</footer>
