<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a 
        href="https://www.instagram.com/arjungiri_7" 
        target="_blank" 
        rel="noopener noreferrer"
        class="social-link"
      >
        <i class="fa-brands fa-square-instagram"></i>
      </a>

      <a 
        href="https://www.facebook.com/arjungiri74" 
        target="_blank" 
        rel="noopener noreferrer"
        class="social-link"
      >
        <i class="fa-brands fa-square-facebook"></i>
      </a>

      <a 
        href="https://www.linkedin.com/in/arjungiri149/" 
        target="_blank" 
        rel="noopener noreferrer"
        class="social-link"
      >
        <i class="fa-brands fa-square-linkedin"></i>
      </a>

      <div class="f-info-brand">
        <p>&copy;Wanderlust Private Limited</p>
      </div>

      <div class="f-info-links">
        <a class="f-text" href="/privacy"><small>Privacy</small></a>
        <a class="f-text" href="/terms">Terms</a>
      </div>
    </div>
  </div>
</footer>