/* ========= Body ========== */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
}

/* ========== Navbar ========== */

.navbar {
  height: 5rem !important;
  background-color: white !important;
}

.fa-compass {
  font-size: 40px;
  margin: 5px;
  margin-left: 10px;
}

.nav-link {
  background-color: white !important;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  padding-left: 10px !important;
}

.search-inp {
  font-size: 0.7rem !important;
  border-radius: 25px !important;
  padding: 0.5rem 3rem !important;
}

.search-btn {
  color: #fff !important;
  font-weight: 600 !important;
  background-color: #fe424d !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.collapse {
  background-color: white;
}

/* ========= Footer ========== */

.f-info,
.f-info-socials {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.f-info-socials a {
  font-size: 1.7rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  color: rgb(24, 49, 83);
  background-color: #ebebeb;
}

.f-info-brand p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.f-text {
  text-decoration: none;
  font-size: 1rem;
  color: #222222;
  font-weight: 500;
  margin: 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
}

/* ======== Home ======== */
.listing-card {
  border: none !important;
  font-size: 1.3rem !important;
  margin: 0.5rem;
}

.card-img-top {
  border-radius: 1rem !important;
  height: 16rem;
  object-fit: cover;
}

.card-body {
  margin-left: -10px;
}

.listing-link {
  text-decoration: none;
}

.filters {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 12px;
  scrollbar-width: none;
  margin-bottom: -20px;
  margin-top: 0.5rem;
}

.filters::-webkit-scrollbar {
  display: none;
} 

.filters a{
  min-width: 75px;
  text-decoration: none;
  text-align: center;
  font-weight: 650;
  background: #f9f9f9;
  border-radius: 12px;
  flex: 0 0 auto;
  padding: 8px 12px;
  cursor: pointer;
  color: #555;
}

.filters i{
  font-size: 20px;
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

.filters a:hover {
  color: black;
  transform: scale(1.07);
  transition: 0.2s;
}

@media (min-width: 900px) {
  .filters {
    overflow-x: hidden;
    justify-content: space-between;
  }

  .filters a {
    flex: 1;                 
    min-width: unset;         
  }
}

/* ========== Show ========== */
.show-img {
  height: 14rem;
  object-fit: cover;
  max-width:700px;
}

@media (min-width: 900px) {
  .show-img {
    height: 25rem;
  }
}

.btns {
  display: flex;
  margin-top: -30px !important;
}

.btns button {
  width: 100px;
  border: none;
  margin-right: 10px;
  margin-bottom: 25px;
}

.show-row {
  display: flex;
  justify-content: center;
}

.row-btn {
  justify-content: center;
}

/* ========== Edit ========== */
.e-content,
.form-control {
  font-size: 1.3rem !important;
}

.e-content {
  font-weight: 500 !important;
}

.e-btn {
  width: 100px;
  margin-bottom: 50px;
}

.grid-cols-2 {
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 1rem;
}

.category-icon {
  display: inline-block;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
}

/* ========= Map ========== */
#map {
  height: 40vh;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 5px black;
}



